body{
    background-color: rgb(35, 34, 34);
    position: relative;
    text-align: center;
    color:white;
    margin:0px;
}

.searchbox{
   height: 50px;
   width:550px;
   margin: 0px;
   padding:10px;
   border-radius: 50px;
   background-color: transparent;
   border-color: rgb(180, 174, 174);
   color:white;
}
.searchbox:hover{
    cursor:text;
    background-color: rgb(63, 62, 62);
    border:none;
}

.button{
    width:127px;
    height:36px;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 62, 62);
    color:white;
}
.button:hover{
    cursor:pointer;
    border:1px;
    border-style: solid;  
}

a{
    color:rgb(68, 134, 249);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor:pointer;
}

span{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}


.footer{
    text-align: left;
    background-color:rgb(26, 25, 25);
    position:fixed;
    bottom: 0%;
    width: 100%;


}

.anchor a{
    color:white;
}